name: Artifact demo
on:
  push:
    branches: # filtrowanie po branchach
      - main # branch main lala
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Cache dependencies # akcja do cachowania stepu aby ten mógł być użyty gdzieś ponownie
        uses: actions/cache@v4
        with:
          path: ~/.npm # npm cache
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }} # wartość do wydobycia cacha .npm trzymanego w chmurze GH, nazwa powinna być dynamiczna - hashFiles -> daje hasha ze ścieżki
      # w momencie zmiany package-lock.json zmieni się cache dzięki czemu GH wie żeby usunąć stary chache i dependencje muszą być na nowo wyprodukowane
      # cache po wykonaniu joba zaktualizuje npm cache'a automatycznie
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs: 
      script-file: ${{ steps.publish.outputs.script-file }} 
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Cache dependencies  # kolejne odniesienie do cacha - chace jest globalny nie przypisany do konktetnego joba
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Build code
        run: npm run build
      - name: Publish JS filename 
        id: publish 
        run: find dist/assets/*.js -type f -execdir echo 'script-file={}' >> $GITHUB_OUTPUT ';' 
      - name: Update artifact
        uses: actions/upload-artifact@v5
        with:
          name: output-files 
          path: | 
            dist
            package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v6
        with:
          name: output-files
      - name: Output filename
        run: echo "${{ needs.build.outputs.script-file }}" 
      - name: Deploy project
        run: echo "Deploying..."